<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 600">
          Update Konten
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="uptitle" class="form-label" style="font-weight: 700"
            >Judul Konten</label
          >
          <input type="text" class="form-control" id="uptitle" />
        </div>
        <div class="mb-3">
          <label for="upurl" class="form-label" style="font-weight: 700"
            >Url</label
          >
          <input type="text" class="form-control" id="upurl" />
        </div>
        <div class="mb-3">
          <label for="sort_number" class="form-label" style="font-weight: 700"
            >Tentukan No Urut Konten</label
          >
          <select name="up_sort_number" id="up_sort_number" class="form-select">
            <option disabled selected>Tentukan Urutan</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light px-4 border border-primary border-2"
          data-bs-dismiss="modal"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-primary px-4"
          style="background-color: #0b2559"
          onclick="updateKonten()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 600">
          Add New Konten
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="title" class="form-label" style="font-weight: 700"
            >Judul Konten</label
          >
          <input type="text" class="form-control" id="title" />
        </div>
        <div class="mb-3">
          <label for="url" class="form-label" style="font-weight: 700"
            >Url</label
          >
          <input type="text" class="form-control" id="url" />
        </div>
        <div class="mb-3">
          <label for="sort_number" class="form-label" style="font-weight: 700"
            >Tentukan No Urut Konten</label
          >
          <select name="sort_number" id="sort_number" class="form-select">
            <option disabled selected>Tentukan Urutan</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light px-4 border border-primary border-2"
          data-bs-dismiss="modal"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-primary px-4"
          style="background-color: #0b2559"
          onclick="addKonten()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between mb-2">
  <div>
    <h3 style="font-weight: 600">Edit Robot Konten</h3>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-light px-4 border border-primary border-2"
      onclick="goBack()"
    >
      Back
    </button>
    <button
      type="button"
      class="btn btn-primary px-4"
      style="background-color: #0b2559"
      onclick="updateRobot()"
    >
      Save
    </button>
  </div>
</div>
<div class="rounded shadow p-4 container">
  <div class="row">
    <div class="col">
      <label for="robotbooth" class="form-label" style="font-weight: 700"
        >Nama Booth</label
      >
      <input
        type="text"
        class="form-control"
        id="robotbooth"
        value="<%= name %>"
        disabled
      />
    </div>
    <div class="col">
      <label for="robottitle" class="form-label" style="font-weight: 700"
        >Title</label
      >
      <input
        type="text"
        class="form-control"
        id="robottitle"
        value="<%= title %>"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="robotdesc" class="form-label" style="font-weight: 700"
        >Description</label
      >
      <input
        type="text"
        class="form-control"
        id="robotdesc"
        value="<%= description %>"
      />
    </div>
    <div class="col">
      <label for="store-url" class="form-label" style="font-weight: 700"
        >Store Url</label
      >
      <input
        type="text"
        class="form-control"
        id="store-url"
        value="<%= description %>"
      />
    </div>
  </div>
</div>

<h4 class="mt-4" style="font-weight: 600">Konten List</h4>
<hr />
<div class="mt-3 mb-3 p-1 d-flex justify-content-between">
  <div class="d-flex">
    <div class="my-2">Show</div>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-light dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        10
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">10</a></li>
        <li><a class="dropdown-item" href="#">50</a></li>
        <li><a class="dropdown-item" href="#">100</a></li>
        <li><a class="dropdown-item" href="#">All</a></li>
      </ul>
    </div>
    <div class="my-2">Entires</div>
  </div>
  <div class="d-flex">
    <input
      id="sch"
      type="text"
      class="form-control"
      placeholder="Search here"
      value=""
    />
    <button
      type="button"
      class="btn btn-primary mx-1"
      style="background-color: #0b2559"
    >
      <span data-feather="search"></span>
    </button>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      style="background-color: #0b2559; width: 200px; font-size: 12px"
    >
      <span data-feather="plus"></span>
      Add Konten
    </button>
  </div>
</div>

<div class="shadow p-3 rounded">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Judul Konten</th>
        <th scope="col">Url</th>
        <th scope="col">No. Urut</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="t-body">
      <% contents.map((item, index)=>{ %>
      <tr>
        <td><%= item.title %></td>
        <td>
          <div class="cut-text"><%= item.url %></div>
        </td>
        <td>
          <div class="cut-text"><%= item.sort_number %></div>
        </td>
        <td>
          <div>
            <button
              type="button"
              class="btn btn-light border border-dark"
              style="font-size: 10px"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
              onclick="editKonten('<%= item.uid %>', '<%= item.title %>', '<%= item.url %>', '<%= item.sort_number %>')"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-light mx-1 border border-dark"
              style="font-size: 10px"
              data-bs-toggle="modal"
              data-bs-target="#modal-delete"
              onclick="selectRobotContent('<%= item.uid %>')"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<!-- Modal Delete -->
<div
  class="modal fade"
  id="modal-delete"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel2"
          style="font-weight: 600"
        >
          Delete Robot Content
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="hidden" id="uid-robot" />
          <p>Do you want to remove this robot?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light px-4 border border-primary border-2"
          data-bs-dismiss="modal"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-primary px-4"
          style="background-color: #0b2559"
          onclick="deleteKonten()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- end Modal Delete -->

<script>
  function selectRobotContent(id) {
    $("#uid-robot").val(id);
  }
  let id = "";
  $(document).ready(() => {
    const urlParams = new URLSearchParams(window.location.search);
    id = urlParams.get("id");
  });
  const goSch = () => {
    console.log($("#sch").val());
    $("#t-body").empty();
    $("#t-body").append(`
      <tr>
          <td></td>
          <td><div class="cut-text"></div></td>
          <td>
            <div>
              <button
                type="button"
                class="btn btn-light border border-dark"
                style="font-size: 10px"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
                onclick="editKonten('', '', '', '', '')"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-light mx-1 border border-dark"
                style="font-size: 10px"
                onclick="deleteKonten('')"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
    `);
  };
  const goBack = () => {
    window.location.replace("/admin/robotlist");
  };

  let idSelectedKonten = "";
  const editKonten = (id, title, url, sort_number) => {
    idSelectedKonten = id;
    $("#uptitle").val(title);
    $("#upurl").val(url);
    $("#up_sort_number").val(sort_number);
  };
  const updateKonten = () => {
    let setData = {
      title: $("#uptitle").val(),
      url: $("#upurl").val(),
      sort_number: $("#up_sort_number").val(),
    };
    fetch(
      `/api/robots/updateRobotContent/${idSelectedKonten}?apikey=${localStorage.getItem(
        "synnex-userid"
      )}`,
      {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(setData),
      }
    )
      .then((res) => {
        if (res.ok) {
          $.notify("update robot content success !", "success");
          setTimeout(function () {
            window.location.reload();
          }, 700);
        } else {
          alert(`${res.status} - ${res.statusText}`);
        }
      })
      .catch((err) => {
        alert(`${err}`);
      });
  };
  const addKonten = () => {
    fetch(
      `/api/robots/addRobotContent?apikey=${localStorage.getItem(
        "synnex-userid"
      )}`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          robotid: id,
          title: $("#title").val(),
          url: $("#url").val(),
          sort_number: $("#sort_number").val(),
        }),
      }
    )
      .then((res) => {
        if (res.ok) {
          $.notify("add robot content success !", "success");
          setTimeout(function () {
            window.location.reload();
          }, 700);
        } else {
          // alert(`${res.status} - ${res.statusText}`);
          // alert(`Content Robot is Maximum!`);
          $.notify("content robot is maximum!", "error");
        }
      })
      .catch((err) => {
        alert(`${err}`);
      });
  };
  const deleteKonten = (idDelete) => {
    idDelete = $("#uid-robot").val();
    console.log(idDelete);
    fetch(
      `/api/robots/deleteRobotContent/${idDelete}?apikey=${localStorage.getItem(
        "synnex-userid"
      )}`,
      {
        method: "DELETE",
      }
    )
      .then((res) => {
        if (res.ok) {
          $.notify("delete robot content success !", "success");
          setTimeout(function () {
            window.location.reload();
          }, 700);
        } else {
          alert(`${res.status} - ${res.statusText}`);
        }
      })
      .catch((err) => {
        alert(`${err}`);
      });
  };
  const updateRobot = () => {
    fetch(
      `/api/robots/updateRobot/${id}?apikey=${localStorage.getItem(
        "synnex-userid"
      )}`,
      {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          title: $("#robottitle").val(),
          description: $("#robotdesc").val(),
        }),
      }
    )
      .then((res) => {
        if (res.ok) {
          $.notify("update robot success !", "success");
          setTimeout(function () {
            window.location.reload();
          }, 700);
        } else {
          alert(`${res.status} - ${res.statusText}`);
        }
      })
      .catch((err) => {
        alert(`${err}`);
      });
  };
</script>
