<div class="container-fluid p-5">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <% banner.map((item, index)=>{ %> <% if(index == 1){ %>
      <div class="carousel-item active">
        <img
          src="<%= process.env.FRONTEND_ADDRESS + item.imageurl %>"
          class="d-block w-100"
          alt="<%= item.name %>"
          onclick="goToUrl('<%= item.url %>')"
          style="cursor: pointer"
        />
      </div>
      <% } else{ %>
      <div class="carousel-item">
        <img
          src="<%= process.env.FRONTEND_ADDRESS + item.imageurl %>"
          class="d-block w-100"
          alt="<%= item.name %>"
          onclick="goToUrl('<%= item.url %>')"
          style="cursor: pointer"
        />
      </div>
      <% } %> <% }) %>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <a href="/special-deal">
    <button
      class="btn btn-primary mt-5 title-glow py-1 px-4"
      style="background-color: transparent; font-size: small"
    >
      <span
        style="color: #01cdf2; width: 30px; height: 30px"
        class="me-1"
        data-feather="arrow-left"
      ></span>
      Kembali
    </button>
  </a>
  <div class="row mb-5 mt-4">
    <div class="col-12 col-md-4 text-center mt-1" style="cursor: pointer">
      <a href="https://www.tokopedia.com/gimugimu/etalase/byge">
        <div class="title-glow py-3 py-md-5 modal-black" style="height: 100%">
          <div class="row" style="height: 100%">
            <div class="col align-self-center">
              <img src="./img/landing/tokotpedia.png" style="width: 40%" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 text-center mt-1" style="cursor: pointer">
      <a
        href="https://shopee.co.id/shop/267988562/search?shopCollection=135875741"
      >
        <div class="title-glow py-3 py-md-5 modal-black" style="height: 100%">
          <div class="row" style="height: 100%">
            <div class="col align-self-center">
              <img src="./img/landing/shopee.jpg" style="width: 40%" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 text-center mt-1" style="cursor: pointer">
      <a
        href="https://www.blibli.com/merchant/gimu-gimu-official-store/GIG-60024"
      >
        <div class="title-glow py-3 py-md-5 modal-black" style="height: 100%">
          <div class="row" style="height: 100%">
            <div class="col align-self-center">
              <img src="./img/landing/blibli.png" style="width: 60%" />
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <script>
    const goToUrl = (url) => {
      window.open(url);
    };
  </script>

  <style>
    .container-fluid {
      background-image: url("./img/background-2.png");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .modal-black {
      background: rgba(0, 0, 0, 0.8);
      border: 6px solid #c65a85;
      box-sizing: border-box;
      box-shadow: 0px 0px 5px #d55085;
      border-radius: 20px;
    }
    .title-glow {
      -webkit-text-stroke: 2px #ff6db8;
      text-shadow: 0px 0px 10px #b7025f, 0px 0px 10px #b7025f,
        0px 0px 10px #b7025f;
      text-transform: uppercase;
      color: black;
    }
    .title-glow:hover {
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 16px #fff, 0 0 37px #0fa,
        0 0 77px #0fa, 0 0 87px #0fa, 0 0 97px #0fa, 0 0 146px #0fa;
    }
    .title-br {
      font-size: smaller;
    }
    @media (min-width: 576px) {
      .title-br {
        font-size: x-large;
      }
    }
  </style>
</div>
