<div class="container-fluid p-3 p-sm-5">
  <h4><strong><%= title %></strong></h4>
  <p class="mt-4 mb-4" style="font-size: smaller"><%= description %></p>
  <% contents.map((item, index)=>{ %>
  <div class="mb-1">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p class="my-1" style="font-size: medium">
          <strong><%= index + 1 %></strong>
          <%= '. ' + item.title %>
        </p>
      </div>
      <div>
        <span
          onclick="openUrl('<%= index + 1 %>')"
          data-feather="arrow-right"
          style="color: #01cdf2; cursor: pointer"
        ></span>
        <span class="visually-hidden" id="<%= index + 1 %>"
          ><%= item.url %></span
        >
      </div>
    </div>
    <hr style="border-top: 2px solid #d55085" />
  </div>
  <% }) %>
</div>

<script>
  const openUrl = (id) => {
    console.log(id, $(`#${id}`).text());
    window.open($(`#${id}`).text());
  };
</script>

<style>
  .container-fluid {
    color: white;
  }
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a0a3bd;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01cdf2;
  }
</style>
